#nav-container {
  color: #212529;
}

#nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.nav-item {
  margin: 0 30px;
}

.nav-link {
  color: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

.dropdown {
  display: none;
}

.dropdown-content.show {
  display: block;
}

#line-nav {
  border: none;
  border-top: 3px solid #333;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  width: 60%;
}

.nav-link:hover {
  border-bottom: 2px solid #333;
}

@media screen and (max-width: 768px) {
  #nav-list {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    align-items: center;
    background-color: #fff;
    border: none;
    color: #333;
    cursor: pointer;
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
    width: 100vw;
  }

  .hamburguerBtn {
    margin: 0 10px 0 20px;
    font-weight: bold;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .dropdown-content a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    display: block;
  }

  #line-nav {
    border: none;
    border-top: 3px solid #333;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    margin: 10px auto;
    width: 90%;
  }

  .dropdown:active .dropdown-content {
    display: block;
  }

  .dropdown-content a:active {
    background-color: #f2f2f2;
  }

  .dropdown:hover .dropbtn {
    background-color: #f2f2f2;
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  .dropdown {
    display: none;
  }

  #line-nav {
    border: none;
    border-top: 3px solid #333;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    margin: 10px auto;
    width: 90%;
  }

  .dropdown-content a:hover {
    background-color: #f2f2f2;
  }
}